# Prepare

In [1]:
import graphlab

A newer version of GraphLab Create (v1.7.1) is available! Your current version is v1.6.1.

You can use pip to upgrade the graphlab-create package. For more information see https://dato.com/products/create/upgrade.

In [2]:
people = graphlab.SFrame('../../lecturenote/people_wiki.gl/')
people['word_count'] = graphlab.text_analytics.count_words(people['text'])
people['tfidf'] = graphlab.text_analytics.tf_idf(people['word_count'])['docs']

[INFO] This non-commercial license of GraphLab Create is assigned to ntngh2712@gmail.com and will expire on November 01, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-18717 - Server binary: /Users/nghiant/dato-env/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1447930792.log
[INFO] GraphLab Server Version: 1.6.1

# 1.

In [3]:
eltonJohn = people[people['name'] == 'Elton John']

In [9]:
eltonJohn[['word_count']].stack('word_count', new_column_name = ['word', 'count']).sort(
    'count', ascending = False
).head()

Columns:
	word	str
	count	int

Rows: 10

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|  john |   7   |
|   he  |   7   |
|   on  |   6   |
| award |   5   |
+-------+-------+
[10 rows x 2 columns]

In [10]:
eltonJohn[['tfidf']].stack('tfidf', new_column_name = ['word', 'tfidf']).sort(
    'tfidf', ascending = False
).head()

Columns:
	word	str
	tfidf	float

Rows: 10

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
| tonightcandle | 10.9864953892 |
|  overallelton | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[10 rows x 2 columns]

# 2.

In [11]:
graphlab.distances.cosine(
    eltonJohn['tfidf'][0], 
    people[
        people['name'] == 'Victoria Beckham'
    ]['tfidf'][0]
)

0.9567006376655429

In [13]:
graphlab.distances.cosine(
    eltonJohn['tfidf'][0], 
    people[
        people['name'] == 'Paul McCartney'
    ]['tfidf'][0]
)

0.8250310029221779

# 3.

In [15]:
knn_model_tfidf = graphlab.nearest_neighbors.create(
    people, 
    features=['tfidf'], 
    label='name',
    distance='cosine'
)

PROGRESS: Starting brute force nearest neighbors model training.

In [16]:
knn_model_wc = graphlab.nearest_neighbors.create(
    people, 
    features=['word_count'], 
    label='name',
    distance='cosine'
)

PROGRESS: Starting brute force nearest neighbors model training.

In [17]:
knn_model_wc.query(eltonJohn)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 16.56ms      |
PROGRESS: | Done         |         | 100         | 176.307ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [18]:
knn_model_tfidf.query(eltonJohn)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 13.499ms     |
PROGRESS: | Done         |         | 100         | 228.708ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [19]:
knn_model_wc.query(
    people[people['name'] == 'Victoria Beckham']
)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 14.772ms     |
PROGRESS: | Done         |         | 100         | 176.735ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [20]:
knn_model_tfidf.query(
    people[people['name'] == 'Victoria Beckham']
)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 14.94ms      |
PROGRESS: | Done         |         | 100         | 207.489ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]